<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>registation now</title>
    
  </head>
  <body>
    <a href="/">log in</a>
    <form action = "/login/saveUser" method = "post">

      <h4 class="">Add Employee</h4>

     </div>
     <div class="">
       <div class="form-group">  
      <div class="form-group">
       <label>User Name</label>
       <input type="text" name="userName" class="form-control" required>
      </div>
      <div class="form-group">
       <label>Password</label>
       <input type="Password" name="password" class="form-control" required>
      </div>
      <select name="role" id="role">
        <option value="1">Admin</option>
        <option value="2">Employee</option>
      </select>
     </div>
     <div class="">
      <input type="submit" class="btn btn-success" value="Add">
     </div>
    </form>
  </body>
</html>
