<!DOCTYPE html>
<html>
<head>
	<title>DashBord</title>
</head>
<body>

	<h1>This is Admin Page</h1>

	<button type="sybmit">Add Employee</button>
	<button type="sybmit">Employee List</button>
</body>
</html>