<!DOCTYPE html>
<html>
<head>
	<title>Employee page</title>
</head>
<body>


	<button type="submit" name="">MyProfile</button>
	<button type="submit" name="">Update Profile</button>
</body>
</html>